.About {
  padding-top: 72px;
  width: 100%;
/*   z-index: 9; */
  background: linear-gradient(135deg, #153c65 40%, #007bff 50%, #153c65 75%);
  color: white;
/*   z-index: 9; */
}
.aboutcompany {
  height: 100%;
  display: flex;
/*   background: linear-gradient(135deg, #153c65 40%, #007bff 50%, #153c65 75%); */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 200px 200px 200px;
  gap: 20px;
}
.aboutcompanyheading {
  font-family: "Oswald", sans-serif;
  color: white;
}
.profile_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  gap: 20px;
}
.profile_detail {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #007bff;
    text-align: justify;

}
.profile_logo {
  width: 100px;
  height: 100px;
}
.profile_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.profile_name {
  font-size: 25px;
  font-weight: 700;
}
.profile_details {
  padding: 18px;
}
@media screen and (max-width: 768px) {
  .aboutcompany {
    padding: 20px 10px 10px 10px;
    height: 100%;
  }
  .profile_name {
    font-size: 17px;
    font-weight: 700;
  }
  .profile_details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
  }
  .special_detail {
   font-size: 13.2px;
  }
}
@media screen and (max-width: 460px) {
  .aboutcompany {
    padding: 20px 10px 10px 10px;
  }
  .profile_detail {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .profile_logo {
    width: 80px;
    height: 80px;
    /* font-size: 1px; */
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile_logo img {
    width: 100%;
    height: 100%;
  }
  .profile_details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
  }
  .special_detail {
     font-size: 11.9px;
  }
  .profile_name {
    font-size: 17px;
    font-weight: 700;
  }

  .profile_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
