/* .navbar *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.navbar{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    box-shadow:  0px 0px 10px 0px;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
    z-index: 11;
    /* background-color: aqua; */
        /* background: linear-gradient(135deg, rgb(90, 79, 207), rgb(0, 188, 212)); */
    position:fixed ;
    width: 100%;
 
    background-color: white;
}
.nav_logo{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    /* height: 50px; */
    


}
.nav_logo_img{
    /* width: 50px; */
    /* height: 50px; */
}
.nav_logo_title{
    font-family: cursive;
    font-weight: 800;
}
.nav_menu{
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    font-family:"Oswald", sans-serif ;
    font-weight: 400;
    /* background-color: rgb(65, 65, 193); */
    /* border: 2px solid grey; */
    /* box-shadow:  0px 0px 10px 0px; */
    border-radius: 5px;
     align-items: center;
    position: relative;
}
.nav_menu_item{
    text-decoration: none;
    color: black;
    border: 2px solid grey;
    box-shadow:  0px 0px 10px 0px;
    box-sizing: border-box;
    padding: 8px;
    position: relative;
    &:hover{
/*         background-color: red; */
        background: linear-gradient(135deg,#153c65 40%, #007bff 50%, #153c65 75%  );
        color: white;
        border-radius: 5px;
        
    }
   
}
.dropdown_wrapper{
    position: relative;
    
}
.dropdown{
    display: none;
    position: absolute;
    top: 36px;
    /* right:  80px; */
    left: 0;
    width: 200px;
     
    font-family: "Oswald", sans-serif;
    /* border: 2px solid gray; */
    /* border-top: 0; */
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    min-width: max-content;
    /* z-index: 999; */
     /* background: linear-gradient(135deg,#153c65 40%, #007bff 50%, #153c65 75%  ); */
 background-color: white;
   
    
   
}
.dropdown_items{
    font-size: 15px;
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
    display: inline-block;
    white-space:nowrap;
    transition: background 0.2s, color 0.2s;


}
.dropdown_items:hover {
  color: #007bff;
  
}
.nav_menu_item:hover + .dropdown, 
.dropdown:hover{
    display: flex;

}
.mobile_menu{
    display: none;
}
@media screen and (max-width:768px) {
    .navbar{
        justify-content: space-between
        ;
        padding: 8px
    }
    .mobile_menu{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: black;

    margin-right: 15px;
    position: relative;
}
 .mobile_menu_open{
    position: absolute;
    font-size: 20px;

}
 .mobile_menu_close{
     position: absolute;
    font-size: 20px;
 }
  .nav_menu{
    display: none;
  }


}
